.nav-bar{
    height:auto;
    padding: 10px;
}

.nav-container{
    margin: auto;
    width: 50%;
}

.nav-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

